<html>
    <head>
        <title>Le cheap perrito skype log viewer.</title>
        <meta http-equiv="content-type" content="text/html; charset=UTF-8">
        <link rel="stylesheet" href="/skypelogviewer.css" type="text/css" media="screen, print">
        <script type="text/javascript" src="/js/jquery-1.6.2.min.js"></script>
    </head>
    <body>
        <h1 id="startform_title">Que de todo esto es tu usuario?</h1>
        <ul id="userchooser">
            %(choseable_users)s
        </ul>
    </body>
</html>